/*****************
BODY
*****************/


* {
  box-sizing: border-box;
  
   margin: 0 auto;
   padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", sans-serif; 
  background-image: url("../img/aboutbackground.png");
  width: 100%;
  height: auto;  

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
} 

a{
  text-decoration: none;
}

/***************

HOME PAGE

***************/

.wrapper{
  width: 100px;
}

/**** Menu **************/

header{
  height: 120px;
  margin-top: -120px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #b0c4de;
  
}

.name,
.menu {
  font-size: .9em;
}

 .name {
  padding-top: 15px;
  margin-left: 20px;
 }

 .menu {
   margin-right: 20px;
   margin-top: -15px;
   float: right;
   background-color: ;
   
 }


.menu li {
    margin-bottom: 10px;
    list-style-type: none;
    border: 1px purple solid;
    border-radius: 10px;
    margin-top: 5px;
    background-color: white;
    padding: 5px 10px;
    text-align: center;
}

.menu li:hover {
  background-color: #b0c4de;
}


.menu li a{
  color: black;   
}



/******* end of menu ***********/



.container { 
    margin-top: 120px;  
     width: 100%;
               
}

.mainImage h3{
  color: grey;
  text-align: center;
  margin-top: 10px;
}

.mainImage {
   background-image: url("../img/chris5.png");
    background-repeat:  no-repeat; 
    margin: 0 auto; 
    height: 300px;
    width: 100%;
    border: 3px white solid;s
    background-position: center;
    background-size: cover; 
}

.quotation  {
  color: white;
  background-color: purple;
  padding: 10px;
  width: 37%;
  float: left;
  position: relative;
  bottom: 200px;
}

.quotation p {
  text-align: center;
  font-size: .6em;
}

/**************

ABOUT

**************/
.bio{
  /*text-align: center;*/

}

.bio:first-line {
  font-weight: bold; 
  font-size: 1em;
} 

.bio::first-letter {
  float:left;
  font-size: 2em;
  color: #b0c4de;
  padding:5px 5px;
  background: purple;
  margin: -8px 5px 0 0;
  border-radius:5px;
  line-height: 1;
  
}
.briefTittle{
  margin-bottom: 10px;
  text-align: center;

}

.brief{
  height: auto;
  width: 95%;
  border-radius: 5%;
  border: 1px solid white;
  padding: 20px;
  font-size: 1.1em;
  color: black;
  line-height: 1.5;
 
}

#about {
  padding-top: 60px;
}

.contact {
  background-color: white;
  padding: 2px;
  border-radius: 5px;
}

/**************

PROJECTS
***************/

.background {
  border-bottom: 20px solid #4b0082;
  height: auto;
  
  }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.background {
  background-color: #add8e6;
}

.interactive {
  color: #4b0082;
  font-size: .8em;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 10px;
  font-weight: bold;

}

.inter{
  color: black;
  font-size: .8em;
  text-align: center;
  margin-bottom: -30px;
}


.field{
  position: fixed;
  top: 0;
  z-index: 1;
  width:100%;
}

.nature {
  margin-left: 40px;
  color: #696969;
  font-family: 'kalam', sans-serif; 
}

.gallery {
  max-width: 100%;
  margin-top: 140px;
}


img:hover {
transform:skewY(1.5deg);

}

.lightbox  {
  list-style: none;
  width: 100%;
  padding: 10px;
  margin: 10px auto;

  
}

 .lightbox img {
    transition: transform .5s;
    width: 70%;
    height: 70%;
    border: 3px solid white;
    transition-property: box-shadow;
    transition-duration:  .4s;
    margin-bottom: 20px;
    margin: 20px;

    

 }

 .lightbox li {
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);     
}
  

img:hover {
  
  box-shadow: 0 0 15px rgba(0,0, 0, .7);
 

}



/**************

FOOTER

**************/

footer{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


/***********

MEDIA QUERIES

************/

@media screen and (min-width: 500px) {
 
body {
    background-color: orange;
  }

.menu {
     margin-right: 30px;
  }

.container {    
    height: 400px;
    width: 100%;
  }

.mainImage h3{
  margin-top: 30px;
}

.mainImage {
    height: 400px;
    width: 100%;
}

.quotation  {
  color: white;
  background-color: purple;
  padding: 10px;
  width: 35%;
  float: left;
  font-size: 1.5em;
  position: relative;
  bottom: 250px;
  
}

.brief {
  margin-top: 20px;
}

/***********GAllery**********/

.lightbox li {
    display: inline-block;
 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 6%;
    width: 40%;
    height: 50%;
    background-color: rgba(0,0,0,0.06);
     border-radius: 10px;
    
}

.lightbox img {
   width: 85%;
   height: 200px;
}



.nature {
  margin-top: 10px;
  margin-left: 40px;
  color: #696969;
  font-family: 'kalam', sans-serif; 
}

.inter {
  margin-bottom: 5px;
}

}


@media screen and (min-width: 765px) {

 body {
  background-color: red;
 }

header{
  margin-top: -0;
  height: 60px;
}

.menu {
      float: right;
  }
    
.menu li {
    display: inline-block;
    margin-right: 10px;
   
 }

.container {   
    margin-top: 0; 
    width: 100%;
    height: 600px;
  }

.mainImage h3{ 
  margin-top: 60px;
}

  .mainImage {
    height: 600px;
    width: 100%;
}

.quotation  {
  color: white;
  background-color: purple;
  padding: 10px;
  width: 30%;
  float: left;
  font-size: 1.8em;
  position: relative;
  bottom: 300px;
}

.brief{
  border-radius: 20px;
}


 /*******************
 
 Gallery

 ********************/


.galleryTitle{
  float: left;
  margin-left: 50px;
  margin-top: 65px;
  color: #4b0082;
  font-size: 2em;

}

.nav2 {
  height: 80px;
  background-color: white;
}

.field {
  background-color: red;
  height: 80px;
}

.lightbox li {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 37px;
    width: 28%;
    height: 50%;
    background-color: rgba(0,0,0,0.1);     
}

.lightbox li:nth-child(3) {

  padding-top: 1.2%;

}

}


@media screen and (min-width: 1024px) {
  body {
    background-color: yellow;
  }

.container {   
    margin-top: 0; 
    width: 100%;
    height: 650px;
  }

.mainImage h3{
  margin-top: 70px;
  font-size: 2em;
}

  .mainImage {
    height: 650px;
    width: 100%;
}

.quotation  {
  color: white;
  background-color: purple;
  padding: 10px;
  width: 30%;
  float: left;
  font-size: 1.8em;
  position: relative;
  bottom: 260px;
}

}






